/**
 * The following styles get applied both on the front of your site
 * and in the editor.
 *
 * Replace them with your own styles or remove the file completely.
 */

div.wp-block-resource-blocks-full-width-image,
figure.wp-block-resource-blocks-full-width-image {
  margin: 0 auto;
  width: 100%;

  img {
	display: block;
	width: 100%;
	max-width: 100%;
	height: auto;
  }
}
