/**
 * The following styles get applied both on the front of your site
 * and in the editor.
 *
 * Replace them with your own styles or remove the file completely.
 */

.editor-styles-wrapper div.wp-block-resource-blocks-intro-paragraph,
article.post div.wp-block-resource-blocks-intro-paragraph {
  padding-bottom: 3rem;

  .resource-blocks-column {
	@media (min-width: 768px) {
	  flex: 0 0 66.6666666667%;
	  max-width: 66.6666666667%;
	}
  }

  p {
	font-family: RomainHeadline-Regular-WebS, sans-serif;
	font-size: 1.425rem;
	color: #37535b;
	margin-bottom: 0;

	@media (min-width: 768px) {
	  font-size: 1.625rem;
	}
  }
}
