/**
Global Editor CSS for Resource Blocks

CSS code that gets applied to the editor.

Build file is named: global.css
 */

// Global
html :where(.wp-block) {
  max-width: initial;
  margin-top: 0;
  margin-bottom: 0;
}

html :where(.editor-styles-wrapper) {
  padding: 35px;
}

.is-root-container.block-editor-block-list__layout {
  // make it a container
  width: 100%;
  margin-right: auto;
  margin-left: auto;
}

// Post Editor
.edit-post-visual-editor__post-title-wrapper {
  margin-bottom: 1rem;
}

.wp-block.wp-block-post-title {
  font-family: Questrial,sans-serif;
  letter-spacing: 2.7px;
  font-size: 1.125rem;
  color: #37535b;
  text-transform: uppercase;
  font-weight: bolder;
}
