/**
 * The following styles get applied inside the editor only.
 *
 * Replace them with your own styles or remove the file completely.
 */

.wp-block-resource-blocks-single-image {
  width: 50%;

  img {
	display: block;
  }

  .components-placeholder__instructions {
	display: block !important;
  }

  .components-placeholder__fieldset {
	flex-direction: row !important;
  }

  .components-placeholder__fieldset .components-button {
	margin-right: 12px !important;
  }
}
