/**
 * The following styles get applied both on the front of your site
 * and in the editor.
 *
 * Replace them with your own styles or remove the file completely.
 */

div.wp-block-resource-blocks-single-image.resource-blocks-column {
  //figure {
  //margin: 0 0 40px;
  //}

  @media (min-width: 768px) {
	padding-left: 20px;
	padding-right: 20px;
	flex: 0 0 50%;
	max-width: 50%;
  }
}
