/**
 * Editor styles.
 */

figure.wp-block-resource-blocks-image-constrained:not(.wp-block) {
  margin: 0;
}

.wp-block-resource-blocks-image-constrained {
  // So the appender button does not overlay the image
  position: relative;
  z-index: 1;
  display: block;

  .is-applying img,
  &.is-transient img {
	opacity: 0.3;
  }

  figcaption img {
	display: inline;
  }

  // Shown while image is being uploaded
  .components-spinner {
	position: absolute;
	top: 50%;
	left: 50%;
	margin-top: -9px;
	margin-left: -9px;
  }

  img {
	display: block;
  }

  // So the appender button does not overlay the image
  + .block-list-appender.wp-block {
	position: relative;
	z-index: 0;
  }
}

// URL input in block toolbar
.block-editor-block-list__block[data-type="resource-blocks/image-constrained"] .block-editor-block-toolbar .block-editor-url-input__button-modal {
  position: absolute;
  left: 0;
  right: 0;
}

[data-align="wide"] > .wp-block-resource-blocks-image-constrained,
[data-align="full"] > .wp-block-resource-blocks-image-constrained {
  img {
	height: auto;
	width: 100%;
  }
}

.wp-block[data-align="left"],
.wp-block[data-align="center"],
.wp-block[data-align="right"] {
  > .wp-block-resource-blocks-image-constrained {
	display: table;

	> figcaption {
	  display: table-caption;
	  caption-side: bottom;
	}
  }
}

.wp-block[data-align="left"] > .wp-block-resource-blocks-image-constrained {
  margin: 0.5em 1em 0.5em 0;
}

.wp-block[data-align="right"] > .wp-block-resource-blocks-image-constrained {
  margin: 0.5em 0 0.5em 1em;
}

.wp-block[data-align="center"] > .wp-block-resource-blocks-image-constrained {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

// Components Panels (Options Sidebar)
.image-attributes-heading {
  font-size: 13px;
  font-family: sans-serif;
}

.image-sizing-text-control {
  margin-right: 5px;
  margin-bottom: 10px !important;
}
