/**
 * Editor styles.
 */

figure.wp-block-resource-blocks-image-constrained:not(.wp-block) {
  margin: 0;
}

.wp-block-resource-blocks-image-constrained {
  position: relative;

  .is-applying img,
  &.is-transient img {
	opacity: 0.3;
  }

  figcaption img {
	display: inline;
  }

  // Shown while image is being uploaded
  .components-spinner {
	position: absolute;
	top: 50%;
	left: 50%;
	margin-top: -9px;
	margin-left: -9px;
  }

  &:not(.is-style-rounded) > div:not(.components-placeholder) {
	border-radius: inherit;
  }
}

// This is necessary for the editor resize handles to accurately work on a non-floated, non-resized, small image.
.wp-block-resource-blocks-image-constrained .components-resizable-box__container {
  display: inline-block;

  img {
	display: block;
	width: inherit;
	height: inherit;
  }
}

[data-align="wide"] > .wp-block-resource-blocks-image-constrained,
[data-align="full"] > .wp-block-resource-blocks-image-constrained {
  img {
	height: auto;
	width: 100%;
  }
}

.wp-block[data-align="left"],
.wp-block[data-align="center"],
.wp-block[data-align="right"] {
  > .wp-block-resource-blocks-image-constrained {
	display: table;

	> figcaption {
	  display: table-caption;
	  caption-side: bottom;
	}
  }
}

.wp-block[data-align="left"] > .wp-block-resource-blocks-image-constrained {
  margin: 0.5em 1em 0.5em 0;
}

.wp-block[data-align="right"] > .wp-block-resource-blocks-image-constrained {
  margin: 0.5em 0 0.5em 1em;
}

.wp-block[data-align="center"] > .wp-block-resource-blocks-image-constrained {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.wp-block-resource-blocks-image-constrained__crop-area {
  position: relative;
  max-width: 100%;
  width: 100%;
}

.wp-block-resource-blocks-image-constrained__crop-icon {
  padding: 0 8px;
  min-width: 48px;
  display: flex;
  justify-content: center;
  align-items: center;

  svg {
	fill: currentColor;
  }
}

.wp-block-resource-blocks-image-constrained__zoom {
  .components-popover__content {
	overflow: visible;
	min-width: 260px;
  }

  .components-range-control {
	flex: 1;
  }

  .components-base-control__field {
	display: flex;
	margin-bottom: 0;
	flex-direction: column;
	align-items: flex-start;
  }
}

.wp-block-resource-blocks-image-constrained__aspect-ratio {
  display: flex;
  align-items: center;

  .components-button {
	padding-left: 0;
	padding-right: 0;
  }
}

// Components Panels
.image-sizing-heading {
  font-size: 13px;
  font-family: sans-serif;
}

.image-sizing-text-control {
  margin-right: 5px;
  margin-bottom: 10px !important;
}
