/**
 * Styles.
 */

.wp-block-resource-blocks-image-constrained {
  margin: 0;

  img {
	height: auto;
	max-width: 100%;
	width: 100%;
	vertical-align: bottom;
  }

  figcaption {
	padding: 0.5rem;
	display: none;
  }

  &.has-caption {
	figcaption {
	  display: block;
	}
  }

  &.aligncenter {
	text-align: center;
	margin: 0 auto;
  }

  &.alignfull img,
  &.alignwide img {
	height: auto;
	width: 100%;
  }

  &.alignleft,
  &.alignright,
  &.aligncenter,
  .alignleft,
  .alignright,
  .aligncenter {
	display: table;

	> figcaption {
	  display: table-caption;
	  caption-side: bottom;
	}
  }

  &.alignnone {
	margin-left: 0;
	margin-right: 0;
  }

  &.alignleft {
	/*rtl:ignore*/
	float: left;
	/*rtl:ignore*/
	margin: 0.5em 1em 0.5em 0;
  }

  &.alignright {
	/*rtl:ignore*/
	float: right;
	/*rtl:ignore*/
	margin: 0.5em 0 0.5em 1em;
  }

  &.aligncenter {
	margin-left: auto;
	margin-right: auto;
  }

  &.align-caption-left > figcaption {
	text-align: left;
  }

  &.align-caption-right > figcaption {
	text-align: right;
  }

  &.align-caption-center > figcaption {
	text-align: center;
  }
}

.wp-block-resource-blocks-image-constrained figure {
  margin: 0;
}
