/**
 * Styles.
 */

.wp-block-resource-blocks-image-constrained {
  margin: 0 0 1em 0;

  img {
	height: auto;
	max-width: 100%;
	vertical-align: bottom;
  }

  &.aligncenter {
	text-align: center;
  }

  &.alignfull img,
  &.alignwide img {
	height: auto;
	width: 100%;
  }

  &.alignleft,
  &.alignright,
  &.aligncenter,
  .alignleft,
  .alignright,
  .aligncenter {
	display: table;

	> figcaption {
	  display: table-caption;
	  caption-side: bottom;
	}
  }

  .alignleft {
	/*rtl:ignore*/
	float: left;
	/*rtl:ignore*/
	margin: 0.5em 1em 0.5em 0;
  }

  .alignright {
	/*rtl:ignore*/
	float: right;
	/*rtl:ignore*/
	margin: 0.5em 0 0.5em 1em;
  }

  // This is needed for classic themes where the align class is not on the container.
  .aligncenter {
	margin-left: auto;
	margin-right: auto;
  }

  // Supply caption styles to images, even if the theme hasn't opted in.
  // Reason being: the new markup, <figcaptions>, are not likely to be styled in the majority of existing themes,
  // so we supply the styles so as to not appear broken or unstyled in those themes.
  figcaption {
	//@include caption-style();
  }
}

.wp-block-resource-blocks-image-constrained figure {
  margin: 0;
}
