/**
 * The following styles get applied both on the front of your site
 * and in the editor.
 *
 * Replace them with your own styles or remove the file completely.
 */

 div.wp-block-resource-blocks-single-question {
   h3 {
	 font-family: Questrial,sans-serif;
	 letter-spacing: 2.7px;
	 font-size: 1.125rem !important;
	 color: #37535b !important;
	 text-transform: uppercase;
   }

   @media (min-width: 768px) {
	 padding-left: 20px;
	 padding-right: 20px;
	 flex: 0 0 50%;
	 max-width: 50%;
   }
 }
